{% extends "user_reg/base.html" %}
{% load staticfiles %}

{% block content %}
      <div class="sep-top-5x sep-bottom-3x error-404">
        <div class="container">
          <div class="sep-bottom-lg">
            <div class="text-center">
              <h3 class="upper"><small>error 404</small></h3>
              <h1 class="upper">Page not found</h1>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-md-push-3 text-center">
              <p class="lead">The page you were looking for cannot be found. Try searching our site:</p>
              <!-- start search form-->
              <div class="input-group theme-form-group"><span class="input-group-btn">
                  <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-search fa-2x"></i></button></span>
                <input type="text" placeholder="" class="form-control input-lg">
              </div>
              <!-- end search form-->
            </div>
          </div>
        </div>
      </div>
      <!-- Start call to action section-->
      <section class="call-to-action bg-primary sep-top-md sep-bottom-md">
        <div class="container">
          <div class="row">
            <div class="col-md-9">
              <h5 class="action-title upper light">START PLANNING YOUR DREAM EVENT TODAY.</h5>
            </div>
            <div class="col-md-3 text-right"><a href="members.html" class="btn btn-light btn-bordered btn-lg">SIGN UP NOW</a></div>
          </div>
        </div>
      </section>
      <!-- End call to action section-->
{% endblock content %}
