{% extends "dashboard/base.html" %}

{% block nav-budgets %}
<li class="nav-item start active open">
	<a href="{% url 'budgets' %}" class="nav-link nav-toggle">
		<i class="icon-credit-card"></i>
		<span class="title">My Budgets</span>
		<span class="selected"></span>
		<span class="arrow open"></span>
	</a>
</li>
{% endblock %}

{% load staticfiles %}

{% block title %} My Budgets {% endblock %} 

{% block content %}
<h3 class="page-title">My Budgets
    <small>Create and update budgets for your events</small>
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="/dashboard/home/">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span>My Budgets</span>
        </li>
    </ul> 
</div>
<img src="{% static 'front-end/img/banner10.jpg' %}" style="width:100%"/>
{% endblock content %}

