{% extends "dashboard/base.html" %}

{% block nav-home %}
	<li class="nav-item start active open">
		<a href="/dashboard/home/" class="nav-link nav-toggle">
			<i class="icon-home"></i>
			<span class="title">My Dashboard</span>
			<span class="selected"></span>
			<span class="arrow open"></span>
		</a>
	</li>
{% endblock %}

{% load staticfiles %}

{% block content %}
<h3 class="page-title"> Welcome to My Event Planner
    <small>Planning Made Easy!</small>
</h3>
<div class="page-bar">
    <img src="{% static 'front-end/img/banner10.jpg' %}" style="width:100%"/> 
</div>
{% endblock content %}
