{% extends "dashboard/base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load thumbnail %}

{% block nav-events %}
	<li class="nav-item start active open">
        <a href="{% url 'events' %}" class="nav-link nav-toggle">
            <i class="icon-calendar"></i>
            <span class="title">My Events</span>
            <span class="selected"></span>
            <span class="arrow open"></span>
        </a>
    </li>
{% endblock %}

{% load staticfiles %}

{% block title %} My Events {% endblock %} 

{% block content %}
<h3 class="page-title">My Events
    <small>Manage your upcoming events</small>
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="{% url 'home' %}">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <i class="icon-calendar"></i>
            <span>My Events</span>
        </li>
    </ul> 
</div>
<div class="page-bar">
    <img src="{% static 'back-end/img/banner-events.jpg' %}" style="width:100%"/>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light portlet-fit  calendar">
            <div class="portlet-title">
            <span class="caption-subject font-green-sharp bold uppercase">MY EVENTS </span>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-7 col-sm-12">
                        <h3 class="event-form-title margin-bottom-20" style="color:#4f2412">Add Event</h3>
                        <div id="external-events">
                            <form method="POST">
                                {% csrf_token %}
                                {{ event_form|crispy }}
                                <div class="margiv-top-10">
                                    <button type="submit" class="btn default">Save Changes </button>
                                    <a href= "{% url 'events' %}" class="btn default"> Cancel </a>
                                </div>
                            </form>
                            <div id="event_box" class="margin-bottom-10"></div>
                            <hr class="visible-xs" /> 
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-12">
                        <div class="todo-tasklist">
                            {% if events %}
                            <h3 class="event-form-title margin-bottom-20" style="color:#4f2412">Your Upcoming Events</h3>
                            <ul>
                                {% for event in events %}
                                <div class="todo-tasklist-item todo-tasklist-item-border-normal">
                                    <div class="todo-tasklist-item-title">
                                        {% if event.category = 'Bab' %} 
                                            <i class="fa fa-child"></i>
                                        {% elif event.category = 'Bir' %} 
                                            <i class="fa fa-birthday-cake"></i>
                                        {% elif event.category = 'Cor' %} 
                                            <i class="fa fa-glass"></i>
                                        {% elif event.category = 'Gra' %} 
                                            <i class="fa fa-graduation-cap"></i>
                                        {% elif event.category = 'Wed' %}
                                            <i class="fa fa-heart"></i>
                                        {% elif event.category = 'Oth' %} 
                                            <i class="fa fa-star"></i>
                                        {% endif %}
                                        &nbsp&nbsp{{ event.title }} 
                                    </div>
                                    <div class="todo-tasklist-controls">
                                        <span class="todo-tasklist-date">
                                            {{ event.description }}
                                        </span>
                                    </div>
                                    <div class="todo-tasklist-controls pull-left">
                                        <span class="todo-tasklist-date">
                                            <i class="fa fa-calendar"></i> 
                                            {% if event.date %}
                                                {{ event.date }} 
                                            {% else %}
                                                Date to be decided
                                            {% endif %}
                                        </span>
                                    </div>
                                    <br/>
                                    <div class="todo-tasklist-controls">
                                        <span class="todo-tasklist-date">
                                            <i class="fa fa-map-o"></i> 
                                            {% if event.venue %}
                                                {{ event.venue }} 
                                            {% else %}
                                                Venue to be decided
                                            {% endif %}
                                        </span>
                                    </div>
                                    <br/>
                                    <div>
                                        <a href="{% url 'delete_event' pk=event.id %}">
                                            <button type="submit" class="btn default pull-right" style="margin-left:10px"><i class="fa fa-trash"></i>&nbsp Delete</button>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="{% url 'edit_event' pk=event.id %}">
                                            <button type="submit" class="btn default pull-right"><i class="fa fa-edit"></i>&nbsp Edit</button>
                                        </a>
                                    </div>
                                </div>
                                {% endfor %}
                            </ul>
                            {% else %}
                                <h3 class="event-form-title margin-bottom-20">You have no events. Add one by filling in the form on the left.</h3>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->

{% endblock content %}
