{% extends "dashboard/base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load thumbnail %}

{% block nav-events %}
	<li class="nav-item start active open">
        <a href="/dashboard/events/" class="nav-link nav-toggle">
            <i class="icon-calendar"></i>
            <span class="title">My Events</span>
            <span class="selected"></span>
            <span class="arrow open"></span>
        </a>
    </li>
{% endblock %}

{% load staticfiles %}

{% block title %} Delete "{{ event.title }}" {% endblock %} 

{% block content %}
<h3 class="page-title">Delete "{{ event.title }}"</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="/dashboard/home/">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <i class="icon-calendar"></i>
            <a href="/dashboard/events/">My Events</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <i class="icon-trash"></i>
            <span>Delete Event</span>
        </li>
    </ul> 
</div>
<div class="page-bar">
    <img src="{% static 'back-end/img/banner-events.jpg' %}" style="width:100%"/>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light portlet-fit  calendar">
            <div class="portlet-title">
            <span class="caption-subject font-green-sharp bold uppercase">ARE YOU SURE?</span>
            </div>
            <div class="portlet-body">
                <div class="row" style="text-align:center">
                    <h3 class="event-form-title margin-bottom-20">You are about to delete your event, "{{ event.title }}".</h3>
                    <p> Are you sure you want to do this?</p>
                    <form method="post">
                        {% csrf_token %}
                        <div class="margiv-top-10">
                            <button type="submit" class="btn default">Yes, I'm sure </button>
                            <a href= "{% url 'events' %}" class="btn default"> Cancel </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->

{% endblock content %}
