{% extends "dashboard/base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load thumbnail %}

{% block nav-guests %}
<li class="nav-item start active open">
    <a href="/dashboard/guests/" class="nav-link nav-toggle">
        <i class="icon-users"></i>
        <span class="title">My Guests</span>
        <span class="selected"></span>
        <span class="arrow open"></span>
    </a>
    <ul class="sub-menu">
        <li class="nav-item start active open">
            <a href="{% url 'guestlists' %}" class="nav-link ">
                <i class="icon-list"></i>
                <span class="title">My Guestlists</span>
                <span class="selected"></span>
            </a>
        </li>
        <li class="nav-item start ">
            <a href="#" class="nav-link ">
                <i class="icon-user"></i>
                <span class="title">My Guest Profiles</span>
            </a>
        </li>
        <li class="nav-item start ">
            <a href="#" class="nav-link ">
                <i class="icon-envelope"></i>
                <span class="title">My Invitations</span>
            </a>
        </li>
    </ul>
</li>
{% endblock %}

{% load staticfiles %}

{% block title %} My Guests {% endblock %} 

{% block content %}
<h3 class="page-title"> My Guestlists
    <small>Organize your guests in lists</small>
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="/dashboard/home/">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <i class="icon-users"></i>
            <a href="/dashboard/guests/">My Guests</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <i class="icon-list"></i>
            <span>My Guestlists</span>
        </li>
    </ul> 
</div>
<div class="page-bar">
    <img src="{% static 'back-end/img/banner-guests.jpg' %}" style="width:100%"/>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light portlet-fit  calendar">
            <div class="portlet-title">
            <span class="caption-subject font-green-sharp bold uppercase">MY GUESTLISTS </span>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-7 col-sm-12">
                        <h3 class="event-form-title margin-bottom-20" style="color:#4f2412">Add Guestlist</h3>
                        <p> Add a new guestlist here. A guestlist is a group of guests. </p>
                        <div id="external-events">
                            <form method="POST">
                                {% csrf_token %}
                                {{ guestlist_form|crispy }}
                                <div class="margiv-top-10">
                                    <button type="submit" class="btn default">Save Changes </button>
                                    <a href="javascript:;" class="btn default"> Cancel </a>
                                </div>
                            </form>
                            <div id="event_box" class="margin-bottom-10"></div>
                            <hr class="visible-xs" /> 
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-12">
                        <div class="todo-tasklist">
                            <h3 class="event-form-title margin-bottom-20" style="color:#4f2412">Your Guestlists</h3>
                            {% if guestlists %}
                                <ul>
                                    {% for guestlist in guestlists %}
                                        <div class="todo-tasklist-item todo-tasklist-item-border-green">
                                            <div class="todo-tasklist-item-title">
                                                    <i class="fa fa-users"></i>
                                                &nbsp&nbsp{{ guestlist.name }} 
                                            </div>
                                            <div class="todo-tasklist-controls">
                                                <span class="todo-tasklist-date">
                                                    {{ guestlist.description }}
                                                </span>
                                            </div>
                                            <div>
                                                <a href="{% url 'delete_guestlist' pk=guestlist.id %}">
                                                    <button type="submit" class="btn default pull-right" style="margin-left:10px"><i class="fa fa-trash"></i>&nbsp Delete</button>
                                                </a>
                                            </div>
                                            <div>
                                                <a href="{% url 'edit_guestlist' pk=guestlist.id %}">
                                                    <button type="submit" class="btn default pull-right"><i class="fa fa-edit"></i>&nbsp Edit</button>
                                                </a>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <h3 class="event-form-title margin-bottom-20">You have no guestlists. Add one to the right!</h3>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->

{% endblock content %}


