{% extends "dashboard/base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load thumbnail %}

{% block nav-guests %}
<li class="nav-item start active open">
    <a href="{% url 'guests' %}" class="nav-link nav-toggle">
        <i class="icon-users"></i>
        <span class="title">My Guests</span>
        <span class="selected"></span>
        <span class="arrow open"></span>
    </a>
    <ul class="sub-menu">
        <li class="nav-item start ">
            <a href="{% url 'guestlists' %}" class="nav-link ">
                <i class="icon-list"></i>
                <span class="title">My Guestlists</span>
                <span class="selected"></span>
            </a>
        </li>
        <li class="nav-item start ">
            <a href="{% url 'guest_profiles' %}" class="nav-link ">
                <i class="icon-user"></i>
                <span class="title">My Guest Profiles</span>
            </a>
        </li>
        <li class="nav-item start ">
            <a href="{% url 'invitations' %}" class="nav-link ">
                <i class="icon-envelope"></i>
                <span class="title">My Invitations</span>
            </a>
        </li>
    </ul>
</li>
{% endblock %}

{% load staticfiles %}

{% block title %} My Guests {% endblock %} 

{% block content %}
<h3 class="page-title"> My Guests
    <small>Organize your guests in lists</small>
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="{% url 'home' %}">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <i class="icon-users"></i>
            <a span>My Guests</span>
        </li>
    </ul> 
</div>
<div class="page-bar">
    <img src="{% static 'back-end/img/banner-guests.jpg' %}" style="width:100%"/>
</div>
<!-- END PAGE HEADER-->
<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="dashboard-stat blue" style="background-color: #4F2412">
            <div class="visual">
                <i class="fa fa-list"></i>
            </div>
            <div class="details">
                <div class="number">
                    Guestlists
                </div>
                <div class="desc"> Manage Guestlists </div>
            </div>
            <a class="more" href="{% url 'guestlists' %}" style="background-color: #E9E0DB"> <span style="color: #4F2412"> View more</span>
                <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="dashboard-stat red" style="background-color: #C9A798">
            <div class="visual">
                <i class="fa fa-user"></i>
            </div>
            <div class="details">
                <div class="number">
                    Guest Profiles 
                </div>
                <div class="desc"> Manage Guest Profiles </div>
            </div>
            <a class="more" href="{% url 'guest_profiles' %}" style="background-color: #4F2412"> View more
                <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="dashboard-stat green" style="background-color: #E9E0DB">
            <div class="visual">
                <i class="fa fa-envelope" style="background-color: #C9A798"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span style="color: #4F2412">Invitations</span>
                </div>
                <div class="desc"> <span style="color: #4F2412">Manage Invitations </span></div>
            </div>
            <a class="more" href="{% url 'invitations' %}" style="background-color: #C9A798"> <span style="color: #4F2412">View more </span>
                <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
</div>
            
{% endblock content %}
