{% extends "dashboard/base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load thumbnail %}

{% block nav-tasks %}
<li class="nav-item start active open">
    <a href="{% url 'tasks' %}" class="nav-link nav-toggle">
        <i class="icon-notebook"></i>
        <span class="title">My Tasks</span>
        <span class="selected"></span>
        <span class="arrow open"></span>
    </a>
</li>
{% endblock %}
{% load staticfiles %}

{% block title %} Edit "{{ task.title }}" {% endblock %} 

{% block content %}
<h3 class="page-title">Edit "{{ task.title }}" </h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="{% url 'home' %}">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <i class="icon-notebook"></i>
            <a href="{% url 'tasks' %}">My Tasks</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <i class="icon-note"></i>
            <span>Edit Task</span>
        </li>
    </ul> 
</div>
<div class="page-bar">
    <img src="{% static 'back-end/img/banner-tasks.jpg' %}" style="width:100%"/>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light portlet-fit  calendar">
            <div class="portlet-title">
            <span class="caption-subject font-green-sharp bold uppercase">EDIT TASK </span>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-7 col-sm-12">
                        <h3 class="event-form-title margin-bottom-20">
                            Edit "{{ task.title }}"
                        </h3>
                        <div id="external-events">
                            <form method="POST">
                                {% csrf_token %}
                                {{ form|crispy }}
                                <div class="margiv-top-10">
                                    <button type="submit" value = "update" class="btn default">Save Changes </button>
                                    <a href= "{% url 'tasks' %}" class="btn default"> Cancel </a>
                                </div>
                            </form>
                            <div id="event_box" class="margin-bottom-10"></div>
                            <hr class="visible-xs" />
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-12">
                        <div class="todo-tasklist">
                            {% if task.status = 'Pen' %} 
                                <div class="todo-tasklist-item todo-tasklist-item-border-purple">
                                    <div class="todo-tasklist-item-title" style="color:#d8b2d8"> <i class="fa fa-pause"></i> {{ task.title }} </div>
                            {% elif task.status = 'Pro' %}
                                <div class="todo-tasklist-item todo-tasklist-item-border-orange">
                                    <div class="todo-tasklist-item-title" style="color:#ffb732"> <i class="fa fa-refresh"></i> {{ task.title }} </div>
                            {% elif task.status = 'Ove' %} 
                                <div class="todo-tasklist-item todo-tasklist-item-border-red">
                                    <div class="todo-tasklist-item-title" style="color:#d05454"> <i class="fa fa-warning" > </i> {{ task.title }} </div>
                            {% elif task.status = 'Com' %}
                                <div class="todo-tasklist-item todo-tasklist-item-border-green">
                                    <div class="todo-tasklist-item-title" style="color:#66b266"> <i class="fa fa-check"></i> {{ task.title }} </div>
                            {% endif %}
                                <div class="todo-tasklist-controls">
                                    <span class="todo-tasklist-date">
                                        {{ task.description }}
                                    </span>
                                </div>
                                <div class="todo-tasklist-controls pull-left">
                                    <span class="todo-tasklist-date">
                                        <i class="fa fa-calendar-times-o"></i> 
                                        <span style="color:#4f2412">Event:</span> {{ task.event }} 
                                    </span>
                                </div>
                                <div class="todo-tasklist-controls pull-left">
                                    <span class="todo-tasklist-date">
                                        <i class="fa fa-calendar"></i> 
                                        <span style="color:#4f2412">Due Date:</span> {{ task.due_date }}
                                    </span>
                                </div>
                                <div class="todo-tasklist-controls pull-left">
                                    <span class="todo-tasklist-date">
                                        <i class="fa fa-clock-o"></i> 
                                        <span style="color:#4f2412">Due Time:</span> {{ task.due_time }}
                                    </span>
                                </div>
                                <div>
                                    <a href="{% url 'delete_task' pk=task.id %}">
                                        <button type="submit" class="btn default pull-right" style="margin-top:10px;"><i class="fa fa-trash"></i>&nbsp Delete</button>
                                    </a>
                                </div>
                            </div>
                            <div class="portlet-title">
                                <div class="caption" data-toggle="collapse" data-target=".todo-project-list-content-tags">
                                    <span class="caption-subject font-red bold uppercase"> KEY </span>
                                </div>
                            </div>
                            <div class="portlet-body todo-project-list-content todo-project-list-content-tags">
                                <div class="todo-project-list">
                                    <ul class="nav nav-pills nav-stacked">
                                        <div>
                                            <div class="todo-tasklist-item-title" style="color:#d8b2d8"> <i class="fa fa-pause"></i> Pending </div>
                                            <div class="todo-tasklist-item-title" style="color:#ffb732"> <i class="fa fa-refresh"></i> In Progress </div>
                                            <div class="todo-tasklist-item-title" style="color:#66b266"> <i class="fa fa-check"></i> Completed </div>
                                            <div class="todo-tasklist-item-title" style="color:#d05454"> <i class="fa fa-warning" > </i> Overdue </div>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->

{% endblock content %}

