{% extends "dashboard/base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load thumbnail %}

{% block title %} Welcome! {% endblock %} 

{% block content %}
<!-- BEGIN PAGE HEADER-->
<h3 class="page-title"> Welcome to My Event Planner!
    <small>Update your profile here</small>
</h3>
<div class="page-bar">
    <img src="{% static 'front-end/img/banner10.jpg' %}" style="width:100%"/> 
</div>
<!-- END PAGE HEADER-->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PROFILE SIDEBAR -->
        
        <!-- BEGIN PROFILE CONTENT -->
        <div class="profile-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light ">
                        <div class="portlet-title tabbable-line">
                            <div class="caption caption-md">
                                <i class="icon-globe theme-font hide"></i>
                                <span class="caption-subject font-blue-madison bold uppercase">Profile Account</span>
                            </div>
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#tab_1_1" data-toggle="tab">Personal Info</a>
                                </li>
                                <li>
                                    <a href="#tab_1_2" data-toggle="tab">Terms & Confitions</a>
                                </li>
                            </ul>
                        </div>
                        <div class="portlet-body">
                            <div class="tab-content">
                                <!-- PERSONAL INFO TAB -->
                                <div class="tab-pane active" id="tab_1_1">
                                    <form method="POST" action="#">
                                        {% csrf_token %}
                                        {{ member_form|crispy }}
                                        <div class="margiv-top-10">
                                            <button type="submit" class="btn default">Save Changes </button>
                                            <a href="javascript:;" class="btn default"> Cancel </a>
                                        </div>
                                    </form>
                                </div>
                                <!-- END PERSONAL INFO TAB -->
            					<!-- TERMS & CONDITIONS -->
                                <div class="tab-pane" id="tab_1_2">
                                    <p style="color:#666"> By using <em>My Event Planner</em> you agree to the following terms and conditions:
                                    </p>
                                    <p style="color:#666"> 1. We do not endorse any service provider, nor do we guarantee the quality of their goods or services.</p>
                                    <p style="color:#666"> 2. Membership to My Event Planner is available only to entities and individuals at least 18 years of age who can form legally binding contracts under applicable law. Our services are not available to minors.</p>
                                    <p style="color:#666"> 3. Visitors to and members of the site may not: 
                                        <li>Create an account in another's name</li> 
                                        <li>Create more than one account</li>
                                        <li>Use another's account</li> 
                                        <li>Impersonate another person or entity</li> 
                                    </p>
                                    <p style="color:#666"> 4. You are solely responsible for your interactions with other My Event Planner members, and we are not party to any such disputes. We reserve the right, but have no obligation, to monitor disputes between you and other members.</p>
                                    <p style="color:#666"> 5. If you undermine the integrity of our Rating and Review system in any way, your membership may be suspended or terminated.</p>
                                    <p style="color:#666"> 6. This site may contain links to other sites which are provided solely as a convenience to you, or which are provided by other members. My Event Planner is not responsible for the availability of external sites or resources linked to the site, and does not endorse and is not responsible or liable for any content, advertising, products or other materials on or available from such sites or resources.</p>
                                </div>
                                <!-- END TERMS & CONDITIONS TAB -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PROFILE CONTENT -->
    </div>
</div>
</div>
<!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->
{% endblock content %}

